<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AMQ_HOST"       value="amqsrv" />
    <add key="AMQ_PORT"       value="8000" />
    <add key="AMQ_USER"       value="greenpau" />
    <add key="AMQ_PASS"       value="MTMyYzIwZDZhOTRl" />
    <add key="AMQ_QUEUE"      value="news" />
    <add key="AMQ_VHOST"      value="apps.google.com" />
    <add key="AMQ_HOSTNAME"   value="apps.google.com" />
  </appSettings>
</configuration>
